.header {
  background-color: rgb(236, 235, 236);
  &__contacts {
    display: none;
    position: relative;
    text-decoration: none;
    color: rgb(33, 33, 33);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.28px;
    &:hover {
      color: rgb(33, 150, 243);
    }
    @media (min-width: 768px) {
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
     max-width: 160px;
    }
  }
  &__numbmail {
    display: none;
    text-decoration: none;
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    &:hover {
      color: rgb(33, 150, 243);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
    }
    @media (min-width: 768px) {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      max-width: 160px;
     }
  }
  &__link {
    &--active {
      color: $active-color;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -27px;
        border-radius: 2px;
        background: $active-color;
      }
    }
  }
  &__nav {
    display: flex;
    gap: 20px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__wrapper {
    display: flex;
    gap: 93px;
    align-items: center;
  }
  &__list {
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
  }
  &__logow {
    color: #2196f3;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    @media (min-width: 1200) {
     font-size: 26px;
     letter-spacing: 0.78px;
    }
  }
  &__logos {
    color: #212121;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
    @media (min-width: 1200) {
      font-size: 26px;
      letter-spacing: 0.78px;
    }
  }
  &__dive {
    display: none;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      display: flex;
      gap: 10px;
      width: 138px;
     }
     @media (min-width: 1200px) {
      gap: 50px;
      width: auto;
     }
  }
  &__nav {
    display: none;
    @media (min-width: 768px) {
   display: block;
    }
  }
  &__hamburger {
    border: none;
    background-color: transparent;
    font-size: 30px;
    @media (min-width:768px) {
      display: none;
    }
  }
}
